@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global Styles */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}

section {
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #000;
}

.logo img {
    width: 90px;
    padding: 0 10px 0 20px;
}

/* Navbar Styles */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 0;
    transition: color 0.3s ease-in-out;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
nav ul li a:hover {
    color: #F7729E;
}

/* Underline animation */
nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(25deg, #F7729E 0%, rgba(255,255,255,1) 100%);
    transition: width 0.3s ease-in-out;
}

/* On hover, the underline appears */
nav ul li a:hover::after {
    width: 100%;
}

.hero {
    display: flex;
    background-image: url('/bairesviceweb/public/herobackground.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.hero-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    z-index: 2;
}

.hero h1 {
    border-bottom: 1px solid #fff ;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    z-index: 2;
    color: #fff;
    /*transform: translate(0%, -15rem);*/
    font-family: 'Roboto', sans-serif;
}

.hero #characters {
    padding: 16vh 0 0 0;
    width: 60vw;
    /* Adjust size as needed */
    z-index: -1;
    /* Place it behind the button */
    transform: translate( 0%, 0%);
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
 } 

.cta {
    padding: 30px 30px;
    background-color: #F7729E;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    border-radius: 15px;
    z-index: 2;
    transform: translate(0%, 0%);
    border-radius: 81px;
    box-shadow: inset 10px 10px 24px #a34b68,
                inset -14px -14px 14px #ff99d4;
    font-family: 'Roboto', sans-serif;
}

.cta:hover {
    animation: shadow-inset-center 0.4s linear both
}

@keyframes shadow-inset-center {
    0% {
        background-color: #F7729E;
        box-shadow: inset 0 00 0 transparent
    }

    100% {
        background-color: #fff;
        color: #F7729E;
        box-shadow: inset 0 0 14px 2px #F7729E;
    }
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

.feature {
    text-align: center;
    width: 20%;
    z-index: 2;
}

.icons {
    font-size: 70px;
    margin-bottom: 15px;
}

.social-media {
    position: fixed;
    top: 50%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border: 1px solid white;
    border-radius: 16%;
    margin-left: 10px;
}

.social-media a {
    font-size: 20px;
    margin: 10px;
    color: #fff;
}

.social-media a:hover {
    color: #a34b68;
}

.slide-bottom {
    animation: slide-bottom 0.5s linear both
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(0px)
    }
}

/* FOOTER STYLES */  

footer{
    width: 100%;
    background-color: #000000 ;
    border-top: 1px solid #F7729E ;

}

footer img{
    width: 200px;
   margin-left: 50px;
}


/* RESPONSIVE CSS*/
/* Resolucion: 360 x 640*/
@media only screen and (min-device-width: 360px) {
    
}
/* Resolucion: 375 x 667*/
@media only screen and (min-device-width: 375px) {
    
}
/* Resolucion: 720 x 1280*/
@media only screen and (min-device-width: 720px) {
    
}
/* Resolucion: 1366 x 768*/
@media only screen and (min-device-width: 1366px) {
    
}
/* Resolucion: 1440 x 900*/
@media only screen and (min-device-width: 1440px) {
    
}
/* Resolucion: 1920 x 1080*/
@media only screen and (min-device-width: 1920px) {
    
}